
body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px; /* Adjust for fixed navbar */
    background-color: rgb(183, 215, 244);
  
}

.container {
    width: 55%;
    background: rgba(255, 255, 255, 0.7); /* Transparent background */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    border-radius: 20px;
}

h2 {
    background: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputBox {
    margin: 10px auto;
}

.inputBox input, .inputBox textarea {
    width: 95%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputBox button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.inputBox button:hover {
    background: #45a049;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    --color-1:  rgb(27 115 146);
    --text-color: #f0f0f0;
    --accent-color: #006aff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12pt;
    font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}

nav {
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.links-container {
    display: flex;
    align-items: center;
    flex: 1;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}


nav a:hover {
    color: #03265f;
}

nav .home-link {
    margin-right: auto;
}

nav svg {
    fill: var(--text-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.search-bar input {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search-button:hover {
    background-color: #0056b3;
}

@media (max-width: 649px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #overlay {
        display: none;
    }

    #sidebar-active:checked ~ #overlay {
        display: block;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        background: rgba(0, 0, 0, 0.5);
    }

    .search-bar {
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 650px) {
    .links-container {
        flex-direction: row;
        align-items: center;
        position: static;
        width: auto;
        background-color: transparent;
        box-shadow: none;
    }

    nav a {
        height: 100%;
        width: auto;
        padding: 0 20px;
        justify-content: center;
    }

    .open-sidebar-button, .close-sidebar-button {
        display: none;
    }
}
